.listProduct{
    max-width: 18%;
    width: 500px;
    height: 400px;
    border: 0.5px solid;
    border-radius: 10px;
    margin-left: 25px;
    border-color: aquamarine;

}
.listProductName{
    text-align: start;
    margin-left: 33px;
}
.hrr{
    height: 1px;
    background: linear-gradient(to left, red 0%, black 100%) right;
    animation: colorChange 5s infinite;
    margin-left: 10px; 
    width: 200px;
}
@keyframes colorChange{
    0%{  background: linear-gradient(to left, red 0%, black 100%) ;}
    25%{  background: linear-gradient(to left, red 0%, black 75%) ;}
    50%{  background: linear-gradient(to left, red 50%, black 50%) ;}
    75%{  background: linear-gradient(to left, red 75%, black 25%) ;}
    100%{  background: linear-gradient(to left, red 100%, black 0%) ;}
}
.ulOwl{
    margin-left: -24px;
    width: 185px;
}
.owl-item>li{
    list-style-type: none;
    margin-top: -10px;
}
.owl-item>ul{
    display: flex;
    gap: 35px;
}
.laptop-note12{
    margin-top: 15px;
    margin-left: 5px;
    line-height: 30px;
    width: 167px;
    text-align: center;
}
.product-console{
    margin-top: 20px;
    
    height: 480px;
    /* background-color: red; */
    border: 0.5px solid rgb(228, 224, 224);
    border-radius: 10px;
    max-width: 1800px;
    width: 100%;
    min-width: 1262px;
    
}
.ps5img{
    width: 168px;
    height: 130px;
    margin-top: 45px;
    margin-left: 0px;
    padding-right: 4px;
}
.price-laptop{
    display: flex;
    margin-left: 55px;
    color: red;
    margin-top: 20px;
}

.last-products{
    height: 450px;
    width: 100%;  
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: end;
    max-width: 1800px;
    min-width: 1262px; 
}
.console-productName{
    height: 30px;
    padding-top: 20px;
    text-align: end;
    margin-right: 30px;
}
.ps5console{
    display: flex;
    gap: 40px;
    margin-left: 10px;
    cursor:pointer;
}
.ps5console a {
    text-decoration: none;
    color: #000;
}
.laptop-note12{
    /* display: flex;
    margin-top: 220px;
    width: 160px;
    margin-left: -200px;
    line-height: 30px;
    justify-content: center; 
     padding-left: 25px; */
    text-align: center;
    font-size: 15px;
}
.price-laptop12{
    /* display: flex;
    margin-top: 0px;
    margin-left: 80px;
    color: red; */

    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}
.next-item2{
    display: flex;
    margin-top: 200px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.3;
    position: absolute;
    right: 17px;
    position: relative;
}
.next-item2 img{
    width: 70px;
    height: 70px;
    margin-left: -8px;
    margin-top: -3px;
}
.pre-item2 {
    display: flex;
    margin-top: 200px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.3;
    position: absolute;
}
.pre-item2 img{
    width: 70px;
    height: 70px;
    margin-left: -8px;
    margin-top: -3px;
}
.namojod1{
    width: 10px;
    display: none;
}
.list-of-product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.last-item-product2{
  
    list-style-type: none;
    height: auto;
    width: 169px;
    margin-left: -9px;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:1250px) {
   
}