.pishkhan{
   top: 80px;
   left: 30px;
   width: 230px;
   height: 100px;
   display: flex
;
   position: absolute;
   border: 1px solid;
   border-radius: 5px;
   display: block;
   z-index: 11;
   background: linear-gradient(to bottom, rgb(103, 211, 225) 2%, white 2%);
   border-top: 0;
   
 }
 .pishkhan > button{
    width: 190px;
    height: 40px;
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(103, 211, 225);
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: 1px;
    border-radius: 10px;
    padding-top: 8px;
 }
 .pishkhan > button > a {
   text-decoration: none;
 }
 .pishkhan > p{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 80px;
 }
 .pishkhan > a {
    display: flex;
    position: absolute;
    top: 62px;
    left: 20px;
    
 }